body {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 15px;
}

.card {
    padding: 20px;
    margin: 10px 0;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #1e1e1e;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inner-card-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

input, select {
    flex: 1;
    min-width: 150px;
}

@media (max-width: 576px) {
    .inner-card-style {
        flex-direction: column;
    }
}


input:focus, select:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #495057 !important;
    border-radius: 5px;
    background-color: #212529 !important;
    color: #ffffff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    cursor: pointer;
}

#clock {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#timer, #countdown {
    font-size: 1.5rem;
    font-weight: bold;
}

.inner-card-style {
    display: flex;
    gap: 10px;
}

@media (max-width: 576px) {
    #clock {
        font-size: 2.5rem;
    }

    #timer, #countdown {
        font-size: 1.25rem;
    }

    .card {
        padding: 15px;
    }
}

@media (min-width: 577px) {
    .container {
        padding: 30px;
    }
}
